<aside class="single_sidebar_widget search_widget">
    <form action="{% url 'blog:blog' %}?q=" method="get">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" name="q" class="form-control" placeholder='Search Keyword'
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Search Keyword'">
                <div class="input-group-append">
                    <button class="btns" type="button"><i class="ti-search"></i></button>
                </div>
            </div>
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
            type="submit">Search</button>
    </form>
</aside>

<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Category</h4>
    <ul class="list cat-list">
        {% for categori in categories %}
        <li>
            <a href="{% url 'blog:blog' %}?categoriy={{ categori.name }}" class="d-flex">
                <p>{{ categori.name }}</p>
                <p>({{ categori.posts.count }})</p>
                
            </a>
        </li>
        {% empty %}
        <p><h2>Now added categories</h2></p>
        {% endfor %}
    </ul>
</aside>

<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Recent Post</h3>
    {% for post in recent_posts %}
    <div class="media post_item">
        <img src="{{ post.content_image.url }}" alt="post" style="width: 200px; height: 140px;">
        <div class="media-body">
            <a href="{% url 'blog:blog-detail' post.pk %}">
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.created_at }}</p>
        </div>
    </div>
    {% empty %}
    <p><h2>Now content recent posts</h2></p>
    {% endfor %}
</aside>

<aside class="single_sidebar_widget tag_cloud_widget">
    <h4 class="widget_title">Tag Clouds</h4>
    <ul class="list">
        {% for tag in tags %}
        <li>
            <a href="{% url 'blog:blog' %}?tag={{ tag.name }}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>

{% if not request.user.is_authenticated %}
<aside class="single_sidebar_widget newsletter_widget">
    <h4 class="widget_title">Newsletter</h4>

    <form action="{% url 'blog:blog' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
            type="submit">Subscribe</button>
    </form>
</aside>
{% endif %}