{% load static %}
<div class="single-follow mb-45">
    <div class="single-box">
        <div class="follow-us d-flex align-items-center">
            <div class="follow-social">
                <a href="#"><img src="{% static 'img/news/icon-fb.png' %}" alt=""></a>
            </div>
            <div class="follow-count">  
                <span>{{ fans_facebook }}</span>
                <p>Fans</p>
            </div>
        </div> 
        <div class="follow-us d-flex align-items-center">
            <div class="follow-social">
                <a href="#"><img src="{% static 'img/news/icon-tw.png' %}" alt=""></a>
            </div>
            <div class="follow-count">
                <span>{{ fans_tweater }}</span>
                <p>Fans</p>
            </div>
        </div>
            <div class="follow-us d-flex align-items-center">
            <div class="follow-social">
                <a href="#"><img src="{% static 'img/news/icon-ins.png' %}" alt=""></a>
            </div>
            <div class="follow-count">
                <span>{{ fans_instogram }}</span>
                <p>Fans</p>
            </div>
        </div>
        <div class="follow-us d-flex align-items-center">
            <div class="follow-social">
                <a href="#"><img src="{% static 'img/news/icon-yo.png' %}" alt=""></a>
            </div>
            <div class="follow-count">
                <span>{{ fans_youtube }}</span>
                <p>Fans</p>
            </div>
        </div>
    </div>
</div>