{% extends 'news/base.html' %}
{% load static %}
{% block title %} Posts {% endblock %}
{% block content %}
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Create new post</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="{% url 'blog:create-post' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.descriptions }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.categories }} post category<br>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.tags }} post tag <br>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.content_image }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form.is_active }} <small>Is Active ?</small>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Create</button>
                    </div> 
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Tashkent, Uzbekistan.</h3>
                        <p>Rosemead, UZ</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+998 95 878 62 77</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>akromjonrustamov56@gmail.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
