{% extends 'news/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="assets/css/responsive.css">
{% endblock %}
{% block title %} {% endblock %}
{% block content %}
    <main>
        <!-- About US Start -->
        <div class="about-area">
            <div class="container">
                    <!-- Hot Aimated News Tittle-->
                    {% include 'includes/animated_news_title.html' %}
                   <div class="row">
                        <div class="col-lg-8">
                            <!-- Trending Tittle -->
                            <div class="about-right mb-90">
                                <div class="about-img">
                                    <img src="{{ detail_new.image.url }}" alt="img not found">
                                </div>
                                <div class="section-tittle mb-30 pt-30">
                                    <h3>{{ detail_new.title }}</h3>
                                </div>
                                <div class="about-prea">
                                    <p class="about-pera1 mb-25">
                                        <small>
                                            {{ detail_new.descriptions }}
                                        </small>
                                    </p>
                                </div> 
                                <div class="about-prea">
                                    <p class="about-pera1 mb-25">
                                        
                                        {{ detail_new.content }}
                                    </p>
                                </div>
                                <div class="social-share pt-30">
                                    <div class="section-tittle">
                                        <h3 class="mr-20">Share:</h3>
                                        <ul>
                                            <li><a href="#"><img src="{% static 'img/news/icon-ins.png' %}" alt="img"></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-fb.png' %}" alt="img"></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-tw.png' %}" alt="img"></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-yo.png' %}" alt="img"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- From -->
                            <div class="row">
                                <div class="col-lg-8">
                                    <form action="{% url 'news:details' detail_new.pk %}" method="post" class="form-contact contact_form mb-80">
                                        {% csrf_token %}
                                        <!-- {{ form.as_p }} -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.message }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.subject }}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                                        </div>                                   
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-40">
                                <h3>Follow Us</h3>
                            </div>
                            <!-- Flow Socail -->
                            {% include 'includes/flow_socail.html' %}
                            <!-- New Poster -->
                            <div class="news-poster d-none d-lg-block">
                                <img src="{% static 'img/news/news_card.jpg' %}" alt="">
                            </div>
                        </div>
                   </div>
            </div>
        </div>
        <!-- About US End -->
    </main>
{% endblock %}
