{% extends 'news/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock %}
{% block title %} Latest News {% endblock %}
{% block content %}
    <main>
        <!-- Start Youtube -->
        <div class="youtube-area">
            <div class="container">
                <!-- Hot Aimated News Tittle-->
                {% include 'includes/animated_news_title.html' %}
                <div class="row">
                    <div class="col-12">
                        <div class="video-items-active">
                            {% for video in youtube_videos %}
                            <div class="video-items text-center">
                                <iframe src="https://www.youtube.com/embed/{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            {% empty %}
                            <p><h2>Now content youtube videos</h2></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="video-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="video-caption">
                                <div class="top-caption">
                                    <span class="color1">Politics</span>
                                </div>
                                <div class="bottom-caption">
                                    <h2>Welcome To The Best Model Winner Contest At Look of the year</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ipsum dolor sit lorem ipsum dolor sit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="testmonial-nav text-center">
                                {% for video in youtube_videos %}
                                <div class="single-video">
                                    <iframe  src="https://www.youtube.com/embed/{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="video-intro">
                                        <h4>{{ video.title }}</h4>
                                    </div>
                                </div>
                                {% empty %}
                                <p><h2>Now content youtube videos</h2></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <!-- End Start youtube -->
        <!-- About US Start -->
        <div class="about-area">
            <div class="container">
                    <!-- Hot Aimated News Tittle-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="trending-tittle">
                                <strong>Trending now</strong>
                                <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                                <div class="trending-animated">
                                    <ul id="js-news" class="js-hidden">
                                        <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                                        <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                                        <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   <div class="row">
                        <div class="col-lg-8">
                            <!-- Trending Tittle -->
                            <div class="about-right mb-90">
                                <div class="about-img">
                                    <img src="{{ tranding_top.image.url }}" alt="">
                                </div>
                                <div class="section-tittle mb-30 pt-30">
                                    <h3>{{ tranding_top.title }}</h3>
                                </div>
                                <div class="about-prea">
                                    <p class="about-pera1 mb-25">
                                        <small>{{ tranding_top.descriptions }}</small>
                                    </p>
                                    <p class="about-pera1 mb-25">
                                        {{ tranding_top.content }}
                                    </p>
                                </div> 
                                <div class="section-tittle">
                                    <h3>Unordered list style?</h3>
                                </div>
                                <div class="social-share pt-30">
                                    <div class="section-tittle">
                                        <h3 class="mr-20">Share:</h3>
                                        <ul>
                                            <li><a href="#"><img src="{% static 'img/news/icon-ins.png' %}" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-fb.png' %}" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-tw.png' %}" alt=""></a></li>
                                            <li><a href="#"><img src="{% static 'img/news/icon-yo.png' %}" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- From -->
                            <div class="row">
                                <div class="col-lg-8">
                                    <form action="{% url 'news:latest-news' %}" method="post" class="form-contact contact_form mb-80">
                                        {% csrf_token %}
                                        <!-- {{ form.as_p }} -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.message }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                {{ form.subject }}
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                                        </div>                                   
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-40">
                                <h3>Follow Us</h3>
                            </div>
                            <!-- Flow Socail -->
                            {% include 'includes/flow_socail.html' %}
                            <!-- New Poster -->
                            <div class="news-poster d-none d-lg-block">
                                <img src="{% static 'img/news/news_card.jpg' %}" alt="">
                            </div>
                        </div>
                   </div>
            </div>
        </div>
        <!-- About US End -->
    </main>
    
{% endblock %}